body{
	background-color: green;
}
div p{
width: 50%;
border: solid 2px teal;
margin: 0 auto;
margin-top: 10px;
background-color: blue;
}
.wrap{
	width: 50%;
border: solid 2px teal;
margin: 0 auto;
margin-top: 150px;
background-color: gold;

}